@import "bootstrap";
$busy: rgb(255, 0, 0);
$busy-dark: rgb(100, 0, 0);
$available: rgb(0, 255, 0);
$available-dark: rgb(0, 100, 0);
$stroke: #979797;

.room {
  stroke: $stroke;
  cursor: pointer;
  transition: fill .1s;
  &__busy {
    fill: $busy;
    &:hover {
      fill: $busy-dark;
    }
  }
  &__available {
    fill: $available;
    &:hover {
      fill: $available-dark;
    }
  }
}
